<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proapplication1">
    <!--icon: 실행아이콘 - res파일의 @mipmap/ic_launcher가 경로!-->
    <!--label: 애플리케이션 이름 "string.xml"에서 이름 변경가능-->
    <!--activity부분: 화면부분-->
    <!--intent-filter: 아이콘생성되게하는 필터-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>